Host *
    # disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    # enable hashing known_host file
    HashKnownHosts yes

Host server1.test
    HostName server1.test
    User root
    Port 22
    IdentityFile /keys/key_rsa
